<%- include('partials/header') -%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to AuthDemo App!</h1>

            <p>
                <li>
                    <a href="/register">Sign Up</a>
                </li>
            </p>

            <p>
                <li>
                    <a href="/login">Login</a>
                </li>
            </p>

            <p>
                <li>
                    <a href="/logout">LogOut</a>
                </li>
            </p>
        </div>
    </header>
</div> 

<%- include('partials/footer') -%>

