.navbar-dark {
	background-color: rgb(29, 19, 141);
	color: white;
	margin-bottom: 5%;
}
ul .nav-link {
	color: white;
}
.view {
	display: block;
	margin-top: 2%;
	font: 1.5rem bold;
	text-decoration: none;
}

.text-center{
	margin-bottom: 10%;
}

.container {
	margin-bottom: 10%;
}

.img {
	width: 250px;
	height: 200px;
}

.form-control, #Submit, #back {
	margin: 5%;
}

.footer {
	/* border-top: 1rem solid rgb(252, 249, 249); */
	padding-top: 1%;
	margin-top: 5%;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(29, 19, 141);
	color: white;
	text-align: center;
}