<% layout('layouts/boilerplate')%>
<div class="container">
    <h1 class="landing">Landing Page</h1>

    <p>Welcome to YelpCamp</p>
    <!-- <img src="https://www.telegraph.co.uk/content/dam/Travel/2017/November/tent-fake.jpg?imwidth=450"> -->
    <img src="https://i.imgur.com/dHKU1Ej.jpg" class="img-landing mb-5">

    <a href="/campgrounds" class="view">View All Campgrounds</a>
    <!-- to style this further on mobile devices -->
</div> 
