
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright User-Management System &copy;2022.</a></p>
                        <p class="p-small">Designed By <a href="https://dev-mourice.herokuapp.com/" target="_blank" rel="noopener noreferrer"><strong>Morys0</strong></a> | All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>