<%- include('partials/header') -%>

<div class="container">
    <header class="jumbotron">
        <div style="width: 30%; margin: 25px auto;">
            <h3> Welcome to Login Page</h3>

            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <button class="btn btn-lg btn-default btn-block">Submit!</button> -->
                <div class="form-group">
                    <div class="buttonHolder">
                        <input type="submit" value="Login" class="btn btn-large btn-primary btn-block" id="Submit" />
                    </div>
                </div>
            </form>
            <a href="/" id="back">Go Back</a>
        </div>
    </header>
</div> 

<%- include('partials/footer') -%>

