/* html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
	height: 100vh;
} */

#cluster-map {
    width: 100%;
    height: 400px;
	margin-bottom: 5%;

}

#map {
    width: 100%;
    height: 300px;
	margin-bottom: 5%;
}

/* .view {
	display: block;
	margin-top: 2%;
	margin-bottom: 3%;
	font: 1.5rem bold;
	text-decoration: none;
} */

.flash {
	width: 50%;
	place-items: center;
}

.auth {
	margin-left: 1rem;
}
.user {
	color: blue;
}

.footer {
	align-items: center;
	text-align: center;
	place-items: center;
	padding-top: 3%;
	margin-top: 5%;
}