<%- include('partials/header') -%>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>This is the Secret Page</h1>
            <p>Kindly signUp to continue</p>

            <img class="img" src="https://i.stack.imgur.com/ovvAZ.png" alt="node authentication">
        </div>
    </header>

    <div class="form-group">
        <div class="buttonHolder">
            <button class="btn btn-lg btn-danger mb-5 logout">
                <a href="/" class="out">LogOut</a>
            </button>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>

